<%- include("partials/header") -%>

<div class="container-fluid">
  <section id="minimal-statistics">
   <div class="row">
      <div class="col-xl-4 col-sm-6 col-12"> 
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <!-- <i class="icon-pencil primary font-large-2 float-left"></i> -->
                  <!-- <img src="https://img.icons8.com/color/48/000000/coronavirus--v2.png"/> -->
                  <img src="images/sneezing.gif" id="heartbeat"/>
                </div>
                <div class="media-body text-right" id="covid-font" style="color:blue;">
                  <h3><%= confirmed %></h3>
                  <span>Confirmed</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <!-- <i class="icon-speech warning font-large-2 float-left"></i> -->
                  <!-- <i class="fas fa-heartbeat float-left font-large-2"></i> -->
                   <img src="images/recover.gif" id="heartbeat"/>
                   <img src="images/home.gif" id="heartbeat"/>
                </div>
                <div class="media-body text-right" id="covid-font" style="color:lightgreen;">
                  <h3><%= recovered %></h3>
                  <span>Recovered</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <!-- <i class="icon-graph success font-large-2 float-left"></i> -->
                  <img src="images/brokenheart.gif" id="heartbeat"/>
                </div>
                <div class="media-body text-right" id="covid-font" style="color:red;">
                  <h3><%= deaths%></h3>
                  <span>Deceased</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>



    <!-- <main role="main"> -->

      <section class="jumbotron" id="SearchBox">
        <div class="container">
          <img class="d-block mx-auto mb-4 main_img" src="images/corona.gif" alt="" width="150" height="150">
          <p>
            <form class="form-block search" action="/" method="post">
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="inputPassword2" name="Pincode" placeholder="Enter Your Area Pincode" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-warning btn-lg" type="submit">Search</button>
                </div>
              </div>
            </form> 
          </p>
        </div>
      </section>

            



          <!-- <div class="title">Table</div> -->
       
        <div class="card-body table-responsive">
          <div style="overflow-x:auto;overflow-y:auto"> 
            <!-- Horizontal & vertical scrolling -->
            <table id="customers" >
              <thead>
                <tr>
                  <th style="width:15%;">Center Name</th>
                  <th style="width:12%;">Center Address</th>
                  <th style="width:5%;">Age</th>
                  <th style="width:10%;">Available Capacity</th>
                  <th style="width:5%;">Dose1</th>
                  <th style="width:5%;">Dose2</th>
                  <th style="width:5%;">Vaccine Name</th>
                  <th style="width:10%;">Date</th>
                </tr>
              </thead>

              <tbody class="no-border-x">
                <% for(var i=0;i<data.length;i++) { %>
                  <tr data-href onclick="window.location='https://selfregistration.cowin.gov.in/';">
                    

                    <% if (data[i].available_capacity != 0 || data[i].available_capacity_dose1 != 0 || data[i].available_capacity_dose2 != 0) { %>
                      <td id="td1"><%= data[i].name %></td>
                      <td id="td1"><%= data[i].address %></td> 
                      <td id="td1"><%= data[i].min_age_limit %>+</td>
                      <td id="td1" style="text-align: center;" ><%= data[i].available_capacity %></td>
                      <td id="td1" style="text-align: center;" ><%= data[i].available_capacity_dose1 %></td>
                      <td id="td1" style="text-align: center;" ><%= data[i].available_capacity_dose2 %></td>
                      <td id="td1"><%= data[i].vaccine%></td>
                      <td id="td1"><%= data[i].date %></td> 
                    <% } else { %>
                      <td id="td2"><%= data[i].name %></td>
                      <td id="td2"><%= data[i].address %></td> 
                      <td id="td2"><%= data[i].min_age_limit %>+</td>
                      <td id="td2" style="text-align: center;" ><%= data[i].available_capacity %></td>
                      <td id="td2" style="text-align: center;" ><%= data[i].available_capacity_dose1 %></td>
                      <td id="td2" style="text-align: center;" ><%= data[i].available_capacity_dose2 %></td>
                      <td id="td2"><%= data[i].vaccine%></td>
                      <td id="td2"><%= data[i].date %></td> 
                      <% } %>

            
                    
                    
                  </tr>
                <% } %> 

              </tbody>
            </table>
          </div>
        </div>

        

    <!-- </main> -->

    
<%- include("partials/footer") -%>

   
