<%- include("partials/header") -%>

<div class="container-fluid">
  <section id="minimal-statistics">
   <div class="row">
      <div class="col-xl-4 col-sm-6 col-12"> 
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <img src="images/sneezing.gif" id="heartbeat"/>
                </div>
                <div class="media-body text-right" id="covid-font" style="color:blue;">
                  <h3><%= confirmed %></h3>
                  <span>
                    <img src="images/india.png" alt="" style="width: 35px;height: 35px;margin-right: 5px;margin-bottom: 2px;">
                    Confirmed
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                   <img src="images/recover.gif" id="heartbeat"/>
                   <img src="images/home.gif" id="heartbeat"/>
                </div>
                <div class="media-body text-right" id="covid-font" style="color:lightgreen;">
                  <h3><%= recovered %></h3>
                  <span>
                    <img src="images/india.png" alt="" style="width: 35px;height: 35px;margin-right: 5px;margin-bottom: 2px;">
                    Recovered
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <img src="images/brokenheart.gif" id="heartbeat"/>
                </div>
                <div class="media-body text-right" id="covid-font" style="color:red;">
                  <h3><%= deaths%></h3>
                  <span>
                    <img src="images/india.png" alt="" style="width: 35px;height: 35px;margin-right: 5px;margin-bottom: 2px;">
                    Deceased
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>



    <!-- <main class="main" role="main"> -->

      <section class="jumbotron" id="SearchBox">
        <div class="container">
          <img class="d-block mx-auto mb-4 main_img" src="images/corona.gif" alt="" width="150" height="150">
          <p>
            <form class="form-block search" action="/" method="post">
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="inputPassword2" name="Pincode" placeholder="Enter Pincode" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-warning btn-lg" type="submit">Search</button>
                </div>
              </div>
            </form> 
          </p>
        </div>
      </section>

    <!-- </main> -->
    

    
<%- include("partials/footer") -%>

   
